<!doctype html>
<html ng-app="myApp"><!--app-->
<head>
  <title>AngularJS Custom Time Service</title>
  <style>
    span { 
      color: lightgreen; background-color: black; 
      border: 3px ridge; padding: 2px; 
      font: bold 14px/18px arial, serif; }
  </style>
</head>
<body>
  <h2>Custom Time Service:</h2><hr>
  <div ng-controller="LAController"><!--controller-->
    Los Angeles Time:    
    <span>{{myTime}}</span><!--expression to get value of myTime property in this particular controller-->
  </div><hr>
  <div ng-controller="NYController"><!--controller-->
    New York Time:    
    <span>{{myTime}}</span>
  </div><hr>
  <div ng-controller="LondonController"><!--controller-->
    London Time:    
    <span>{{myTime}}</span>
  </div><hr>
  <div ng-controller="TimeController"><!--controller-->
    All Times:
    <table>
    <tr> <!--repeat for table header-->
	    <th ng-repeat="city in cities">
	      {{city}}<!--expression to see value of city-->
	    </th>
    </tr>
    <tr> <!--repeat for table cells-->
	    <td ng-repeat="city in cities">
	      <span>{{getTime(city)}}</span><!--function call to get time for this particular city in loop-->
	    </td>
    </tr>
    </table>
  </div><hr>
  <script src="http://code.angularjs.org/1.3.8/angular.min.js"></script>
  <script src="service_custom_time.js"></script>
</body>
</html>